h1{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
body{
    background: #0091CF;
    text-align: center;
}
img.Objetivo{
    border: 0;
    width: 200px;
    height: 200px;
}
img.GrupoVolkswagen{
    width: 400px;
    height: 150px;
}
img.Historia{
    width: 400px;
    height: 150px;
}
body.ObjetivoHTML{
    background-color: bisque;
    font-size: 20px;
    text-align: center;
}
body.grupoMarcas{
    background-color: bisque;
}
body ul li .logos{
    width: 200px;
    height: 200px;
}
body.historiaHTML{
    background-color: bisque;
}
