body, .default{
    line-height: 1.6em;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode','sans-serif';
    font-size: 12px;
    color: blue;
}
#one-column-emphasis{
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
#one-column-emphasis caption{
    font-size: 20px;
}
#one-column-emphasis th{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: aqua;
}
table{
    background-color: crimson;
}
#one-column-emphasis td{
    padding: 10px 15px;
    color: white;
    border-top: 1px solid black;
}

.oce-first{
    background: crimson;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
#one-column-emphasis tr:hover td{
    color: deeppink;
    background: black;
}